<div>
    {% if not is_index %}
        <div style="text-align:center; color: #a4b0be; font-size:16px;">
            <b>
                ---------本文结束
                <i class="fa fa-paw"></i>
                感谢您的阅读---------
            </b>
        </div>
    {% endif %}
</div>